# Bronze Layer Paths
SALES_PIPELINE_BRONZE_PATH=data/bronze/sales_pipeline

# Silver Layer Paths
SALES_PIPELINE_SILVER_PATH=data/silver/sales_pipeline

# Gold Layer Paths (for final output)
SALES_PIPELINE_GOLD_PATH=data/gold/sales_pipeline/aggregated_sales.csv

# Source Data Paths
SALES_PIPELINE_SOURCE_SALES_PATH=data/raw/sales.csv
