PIPELINE_NAME=sales_pipeline
LOG_LEVEL=INFO

# Bronze Layer Configuration
BRONZE_LAYER_STAGING_DIR=data/bronze
SALES_CSV_PATH=data/input/sales.csv

# Silver Layer Configuration
SILVER_LAYER_STAGING_DIR=data/silver

# Gold Layer Configuration
GOLD_LAYER_OUTPUT_DIR=data/gold
GOLD_LAYER_OUTPUT_FILE_NAME=aggregated_sales.csv
